<html>
    <body>
        <h1>Users Management Page</h1><br>

            <a href="/menu/edit/userData/add"> Add New</a>

            <ul>
                <% users.forEach(function(data) { %>

                    <li> <%= data.Username %> <br> 
                    
                        <!-- you can't edit or delete admin details -->
                        <% if(data.Username!="Admin") { %>

                            <a href="/menu/edit/userData/update/<%=data.Username %>" > Update User</a><br>
                       
                            <a href="/menu/edit/userData/delete/<%=data.Username %>"> Delete User</a>
                       
                        <% } %>

                    </li> <br> 

                <% }) %>
            </ul><br><br>
    </body>
</html>