<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=0.75">
    <title>Login</title> 
  </head>

  <body>
    <h1>Login Page</h1>
    <form action="/menu" method="POST">
      <div class="box">
        <input placeholder="Enter User Name" type="text" name="user">
        <input placeholder="Enter Password" type="password" name="psw">
        <button>Login</button>
      </div>
    </form>
    <h2>Login Instructions:</h2>
    <div style="display: flex; flex-direction: column; font-size: 18px;">
      <span>UserName - Admin</span>
      <span style="padding-bottom: 10px;">Password - a</span>
      <span style="padding-bottom: 10px;">You can do whatever you want including add/edit/delete users.</span>
      <span>**If you want to get limited access,</span>
      <span>you must create another user by adding new one in edit users page,</span>
      <span>then logout and log in to the site with the user you created.</span>
    </div>

    <!-- if there's error or message -->
    <% if(msg!=undefined) { %>
      <script>
        alert("<%= msg %>")
      </script>
    <% } %>
  </body>
</html>