<html>

    <head>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=0.75">
        <title>Search Movies</title>
    </head>
    
    <body>

        <h1>Search Movies Page</h1><br>

        <div class="box"><br>

            <h3 >Use <u style="color: tomato;"> one or more</u> of the following options:</h3>

            <form action="/menu/search/results" method="POST">

                <input placeholder="Enter Movie Name" type="text" name="name"><br><br>

                Select the genres of the movie: <br>

                <select class="select" multiple="multiple" name="genres">
                    <option value="Action">Action</option>
                    <option value="Adventure">Adventure </option>
                    <option value="Anime">Anime </option>
                    <option value="Comedy">Comedy </option>
                    <option value="Crime">Crime </option>
                    <option value="Drama">Drama</option>
                    <option value="Espionage">Espionage </option>
                    <option value="Family">Family </option>
                    <option value="Fantasy">Fantasy </option>
                    <option value="History">History </option>
                    <option value="Horror">Horror </option>
                    <option value="Legal">Legal </option>
                    <option value="Medical">Medical </option>
                    <option value="Music">Music </option>
                    <option value="Mystery">Mystery </option>
                    <option value="Romance">Romance </option>
                    <option value="Science-Fiction">Science-Fiction</option>
                    <option value="Sports">Sports</option>
                    <option value="Supernatural">Supernatural </option>
                    <option value="Thriller">Thriller</option>
                    <option value="War">War</option>    
                    <option value="Western">Western</option>    
                </select><br><br>

                Choose the language of the movie: <br>
                
                <select name="lng">
                    <option value=""></option>
                    <option value="English">English</option>
                    <option value="French">French </option>
                    <option value="Hebrew">Hebrew</option>
                    <option value="Russian">Russian</option>
                    <option value="Spanish">Spanish</option>
                </select><br><br>

                <input style="cursor: pointer;" type="submit" value="Search"><br><br>

            </form>
        </div><br>

        <a href="/menu"> Back to Menu Page</a>

    </body>
</html>